.about {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 100px;
}

.bio {
  border-bottom: 1px solid black;
}

.youtube-about {
  border-bottom: 1px solid black;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
  font-style: italic;
}
