li {
  list-style: none;
  font-size: 1.2rem;
}

button {
  margin-left: 1rem;
  background-color: red;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
