li {
  list-style: none;
}

.search {
  width: 100%;
}

.thumbnails {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
=======
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
}

img {
  height: 150px;
  width: 250px;
}

list-item {
  justify-content: center;
  align-items: center;
>>>>>>> 3c6ffcfeacd779c159017f4eb83a3fdfe44dba73
}
