.search {
  padding: 1rem;
  width: 70%;
  margin-top: 1rem;
  margin-left: 10rem;
}

.search-btn {
  width: 3%;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  text-align: center;
}

.video-list-item {
  list-style: none;
  justify-content: center;
}

.video-link {
  text-decoration: none;
  color: black;
}

.thumbnail {
  width: 80%;
  justify-content: center;
}

.vid-container {
  text-align: center;
}
