nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.nav-logo {
  height: 20px;
}
/* .navabout {
  text-decoration: none;
  margin-top: 2.3%;
  color: rgb(40, 40, 40);
  font-size: 40px;
  font-weight: bold;
} */
