header {
  padding: 1em 0;
  background-color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  width: 50%;
  height: auto;
}
.navlink {
  text-decoration: none;
  color: #282828;
  font-size: 1.14rem;
}

.navlink:hover {
  font-weight: bold;
}
